html {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  overflow-x: hidden;
}
body {
  // line-height: 30px;
  text-rendering: auto;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

i {
  display: block;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

