@import 'variables';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 40px;
    z-index: 50;
    position: fixed;
    padding-top:20px;
    top: 0;
    background-color: #fff;
    @include mq(pc) {
        position: initial;
        padding: 0 20px;
    }
    @include mq(tab) {
        padding: 0 20px;
    }    
    .logo {
        max-width: 200px;
        width: 100%;
        padding-left: 30px;
        @include mq(sp) {
            width: 100%;
            max-width: 100px !important;
            padding-left: 0;
        }
    }  
    nav {
        width: 100%;
        margin-left: auto;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-align: right;
        @include mq(pc) {
            display: none;
        }
    }
    li {
        display: inline-block;
        margin-right: 3%;
    }
}
  
.humburger {
    color: white;
    padding: 10px 5px 0 5px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
    @include mq(tab) {
        top: 15px;
        right: 20px;
    }    
    span {
        background-color: #000;
        width: 30px;
        height: 2px;
        display: block;
        margin-bottom: 7px;
        &:nth-child(1) {
            width: 20px;
            margin-left: 10px;
        }
    }
    p {
        font-size: 13px;
        margin-top: -4px;
        margin-bottom: 5px;
    }
}
.drawerMenu {
    width: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    height: 0;
    opacity: 0;
    z-index: -100;
    &.open {
        height: 100vh;
        opacity: 1;
        z-index: 100;
    }
}
@include mq(pc) {
    .container {
        margin: 0 0 0 auto;
        .humburger {
            display: block;
        }
    }    
}
.drawerMenu {
    width: 100%;
    position: fixed;
    top: 0;
    ul {
        width: 100%;
        margin: 100px auto 0;
        li {
            margin-bottom: 25px;
            opacity: 0.8;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 700;
        }
    }
}
.mobileLogo {
    width: 250px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 0px;
    @include mq(tab) {
        width: 190px;
        height: 60px;
        top: 10px;
    }
}
.mainTitle {
    font-size: 28px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.subTitle {
    font-size: 15px;
}
.close {
    cursor: pointer;
    margin-top: 28px;
    padding-right: 30px;
    span {
        background-color: white;
        width: 30px;
        height: 2px;
        display: block;
        margin-bottom: 10px;
        margin: 0 0 10px auto;
        &:first-child {
            transform: translateY(6px) rotate(140deg);
        }
        &:nth-child(2) {
            transform: translateY(-6px) rotate(-140deg);
            margin-bottom: 0;
        }
    }   
    p {
        text-align: right;
        font-size: 11px;
        padding-right: 1px;
    }
}
//CV_BTN
.CvBtn {
    width: 100%;
    padding: 5px 30px;
    font-weight: normal;
    border-color: #333;
    background: #fff;
    font-size:1em;
    background: transparent;
    position: relative;
    z-index: 1;
    transition: .3s;
    cursor: pointer;
    @include mq(pc) {        
        width: 80%;
        display: block;
        margin: 10% auto;
        padding: 20px;
        color: #fff;
        border: 1px solid #fff;
        background: #000;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: #000;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease .3s;
      
    }
    &:hover {
      color: #fff;
      &:before{
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }

