@import 'variables';

.wrapper {
    margin-top: 115px;
    font-size: 1.25vw;
    // overflow-x: hidden;
    @include mq(pc) {
        margin-top: 20px;
    }
    @include mq(sp) {
        margin-top: 20px;
    }
    @include mq(sp_min) {
        font-size: 3.5vw;
    }    
}

.inner {
    width: 100%;
    display: block;
    padding: 0 50px;
    // position: relative;
    @include mq(sp_min) {
        padding: 0 20px;
    }    
}


//mainVisual
.icatchVisual {
    padding-left: 50px;
    @include mq(sp_min) {
        padding-left: 0;
    }
}
//home
.mainVisual {
    position: relative;
    width: calc(100% + 50px);
    height: calc(100vh - 670px);
    // width: 100vw;
    // height: 0;
    padding-top: calc(670 / 1850 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url("../public/images/main_visual.png") center center / cover no-repeat;
  @include mq(sp_min){
    width: 375px;
    height: 490px;
    padding-top: 0;
    background: url("../public/images/main_visual-sp.png") center center / cover no-repeat;
  }  
}
