@import 'variables';


.leadBlock {
    &_wapper {
        @include mq(sp_min) {
            padding: 20px;
            height: calc( 100vw / 0.78);
        }
    }
}

.leadBlock {
    position: relative;
    height: calc(100vw / 1.7);
    @include mq(sp) {
        top: calc(100vw / 20);
        margin: 10%;
        height: calc(100vw / 2.3);
    }
    @include mq(sp_min) {
        top: calc(100vw / 6);
        margin: 0;
    }
    &_text {
        position: absolute;
        top: calc(100vw/-20);
        left: calc(100vw/13);
        z-index: 10;
        width: 50%;
        padding: 8% 5%;
        background-color: #fff;
        box-shadow: 0 0 10px gray;
        @include mq(sp) {
            top: calc(100vw/-4);
            left: 0;
            width: 100%;
            padding: 50px 20px;
            ;
        }
        h2 {
            font-size: 1.5vw;
            margin-bottom: 10%;
            @include mq(sp) {
                font-size: 2.5vw;
                margin-bottom: 8%;
            }
            @include mq(sp_min) {
                font-size: 4vw;
            }
        }
        ul {
            margin: 0 0 15% 0;
            padding: 0;
            @include mq(sp) {
                margin-bottom: 10%;
            }
        }
        li {
            margin-bottom: 5%;
            @include mq(sp) {
                margin-bottom: 3%;
            }
            
        }
    }
    &_img {
        position: absolute;
        top: calc(100vw /15);
        right: 0;
        width: 43%;
        height: 0;
        padding-top: calc(540 / 1850 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
        background: url("../public/images/home_pic_about.png")  center center/cover no-repeat;
        @include mq(sp) {
            display: none;
        }
    }
}