@import 'variables';

.secondBlock {
  &_wapper {
    position: relative;
    
    @include mq(sp_min) {
      margin-top: 100px;
    }
  }
}

//黒背景
.box {
  &_background {
    &__black {
      height: 500px;
      text-align: center;
      position: relative;
      font-size: 30px;
      margin-left: -50px;
      @include headingFont;
      letter-spacing: 5px;
      @include mq(sp_min) {
        margin: 0;
        height: 250px;
      }
      span {
        position: relative;
        top: 10%;
        color: #fff;
        font-size: 2vw;
        @include mq(sp_min) {
          top: 20%;
          font-size: 5vw;
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #000;
        transition: 0.5s;
      }
    }
  }
}
.box {
  &_news {
      margin-left: 50px;
      margin-right: 0;
  }
}
.fade{
  &:before {
  width: 100%;
  }
}



//白背景 3flex
.box {
  &_background {
    &__whtite {
      position: absolute;
      top: 150px;
      // height: 100%;
      margin-right: 50px;
      padding: calc(100vw /10) 30px 50px;
      box-shadow: 0 0 10px grey;
      background-color: #fff;
      @include mq(sp) {
        margin-left: 50px;
      }
      @include mq(sp_min) {
        display: block;
        top: -100px;
        margin: 0 20px;
      }
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: calc(100vw /15);
        @include mq(sp_min) {
          display: block;
        }
        li {
          width: 32%;
          padding: 0 10px;
          @include mq(sp_min) {
            width: 100% ;
            margin-bottom: 50px;
            padding: 0;
          }
          h3 {
            margin: 15px 0;
            @include headingFont;
            font-size: 1.5vw;
            letter-spacing: 5px;
            text-align: center;
            line-height: normal;
            @include mq(sp_min) {
              font-size: 4vw;
            }
          }
        }
      }
    }
  }
}


//ボタン
.center {
  margin: 0 auto;
}
.button {
    width: 100%;
    max-width: 300px;
    // position: relative;
    z-index: 1;
    // padding: 25px 40px;
    padding: 25px;
    border: 1px solid #333;
    background: #fff;
    font-size:1.25vw;
    font-weight: 700;
    text-align: center;
    background: transparent;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 5px;
    @include headingFont;
    @include mq(sp_min) {
        width: 100%;
        font-size:3.5vw;
    }
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #000;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease .3s;
      }
      &:hover {
        color: #fff;
        &:before{
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }
      }  
}

// 横スライドあにめーしょん
.img-wrap {
    overflow: hidden;
    position: relative;
    &:before {
        animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
        background: #fff;
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
    }
@keyframes img-wrap {
    100% {
        transform: translateX(100%);
    }
    }