
//変数
$pc: 1024px; // PC
$sp: 768px;  // スマホ
$sp_min: 375px;  // スマホ
$tab: 600px; 
$headingFont: 'Lato', sans-serif;

$breakpoints: (
  'pc': 'screen and (max-width: #{$pc})',
  'sp': 'screen and (max-width: #{$sp})',
  'tab': 'screen and (max-width: #{$tab})',
  'sp_min': 'screen and (max-width: #{$sp_min}) and (min-width: 320px)'
);

//ブレイクポイント
@mixin mq($size) {
    @media #{map-get($breakpoints, $size)} {
      @content;
    }
  }

//HeadFont
@mixin headingFont {
  font-family: $headingFont;
}